	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/06/2020 07:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-right: 10px;
}

.flaticon-whatssapp-big-logo:before { content: "\f100"; }
.flaticon-linkedin-big-logo:before { content: "\f101"; color: #0077B7; }
.flaticon-twitter-bird-logo:before { content: "\f102"; color: #1da1f2; }
.flaticon-instagram-big-logo:before { content: "\f103"; }
.flaticon-big-skype-logo:before { content: "\f104"; }
.flaticon-apple-big-logo:before { content: "\f105"; }
.flaticon-spotify-big-logo:before { content: "\f106"; }
.flaticon-logo:before { content: "\f107"; color: #475993; }
.flaticon-xing:before { content: "\f108"; }
.flaticon-google-plus-social-logotype:before { content: "\f109"; }
.flaticon-youtube:before { content: "\f10a"; color: red; }